body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #fff8e6;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #432a09;
}

.order-btn {
    padding: 10px 20px;
    font-size: 18px;
    background: #6b4f28;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}

.product {
    background: white;
    padding: 15px;
    width: 280px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

.cookie-img {
    width: 220px;
    border-radius: 10px;
    display:block;
    margin: 0 auto 10px;
}

.cart-item {
    background: #fff;
    padding: 10px;
    margin: 8px auto;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.06);
    text-align: left;
}

.order-box {
    background: #fff;
    width: 360px;
    margin: 12px auto;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.06);
    text-align: left;
}
.section-title {
    font-size: 28px;
    color: #4b2e06;
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.menu-card {
    background: #ffffff;
    width: 240px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    text-align: center;
}

.menu-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #d18300;
}

.quantity-box {
    margin: 8px 0 12px;
}

.quantity-box input {
    width: 60px;
    padding: 5px;
    font-size: 16px;
}

.add-btn {
    background: #d18300;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
