body {
    font-family: Arial;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 10px;
}

.products {
    display: flex;
    gap: 20px;
}

.product, .order-box {
    border: 1px solid #aaa;
    padding: 15px;
    width: 200px;
    border-radius: 8px;
}
